body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;

}

.orange-color {
    color: orange;
}

section {
    display: flex;
}

.half-width1 {
    width: 60%;
    padding-left: 10px;
}

.half-width2 {
    width: 40%;
    padding-left: 10px;
}

.half-width2 img {
    width: 80%;
}

.button-add {
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(orange, tomato);
    color: white;
    border-radius: 10px;

}