body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;

}

.orange-color {
    color: orange;
}

.fleaxible-area {
    display: flex;
    padding-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 20px;
}

.half-width img {
    width: 70%;
}

.button-add {
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(orange, tomato);
    color: white;
    border-radius: 10px;
}

.top-bannar {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.textshow {
    padding-right: 30px;
    color: red;
}